<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
  </head>
  <style>
    .form {
      padding: 8px 25px;
      font-size: 15px;
    }

    .button {
      padding: 12px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4caf50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    .button:hover {
      background-color: #3e8e41;
    }
    .button:active {
      background-color: #0000;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  </style>

  <body>
    <div class="container">
      <h1 class="text-center mb-4">eSewa Payment Form</h1>
      <form
        action="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
        method="POST"
        onsubmit="generateSignature()"
      >
        <table style="width: 70%" align="center">
          <tr>
            <td><strong>Parameter </strong></td>
            <td><strong>Value</strong></td>
          </tr>

          <tr>
            <td>Amount:</td>
            <td>
              <input
                type="text"
                id="amount"
                name="amount"
                value="{{total_amount}}"
                class="form"
                required
              />
              <br />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="tax_amount"
                name="tax_amount"
                value="0"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="total_amount"
                name="total_amount"
                value="{{total_amount}}"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="transaction_uuid"
                name="transaction_uuid"
                value="11-200-1111"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="product_code"
                name="product_code"
                value="EPAYTEST"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="product_service_charge"
                name="product_service_charge"
                value="0"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="product_delivery_charge"
                name="product_delivery_charge"
                value="0"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="success_url"
                name="success_url"
                value="{{success_url}}"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="failure_url"
                name="failure_url"
                value="{{request.build_absolute_uri}}"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="signed_field_names"
                name="signed_field_names"
                value="total_amount,transaction_uuid,product_code"
                class="form"
                required
              />
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="hidden"
                id="signature"
                name="signature"
                value="4Ov7pCI1zIOdwtV2BRMUNjz1upIlT/COTxfLhWvVurE="
                class="form"
                required
              />
            </td>
          </tr>

          <br /><br />
        </table>

        <table style="width: 50%" align="center">
          <tr>
            <th>
              <input value=" Pay with eSewa " type="submit" class="button" />
            </th>
          </tr>
        </table>
      </form>
    </div>

    <script>
      var currentTime = new Date();
      var formattedTime =
        currentTime.toISOString().slice(2, 10).replace(/-/g, "") +
        "-" +
        currentTime.getHours() +
        currentTime.getMinutes() +
        currentTime.getSeconds();
      document.getElementById("transaction_uuid").value = formattedTime;

      // Function to auto-generate signature
      function generateSignature() {
        var total_amount = document.getElementById("total_amount").value;
        var transaction_uuid =
          document.getElementById("transaction_uuid").value;
        var product_code = document.getElementById("product_code").value;

        var hash = CryptoJS.HmacSHA256(
          `total_amount=${total_amount},transaction_uuid=${transaction_uuid},product_code=${product_code}`,
          "8gBm/:&EnhH.1/q"
        ); //secret key for
        var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
        document.getElementById("signature").value = hashInBase64;
      }

      // Event listeners to call generateSignature() when inputs are changed
      document
        .getElementById("total_amount")
        .addEventListener("input", generateSignature);
      document
        .getElementById("transaction_uuid")
        .addEventListener("input", generateSignature);
      document
        .getElementById("product_code")
        .addEventListener("input", generateSignature);
    </script>
  </body>
</html>
